# server vars
PORT=8080

# postgre vars
PG_HOST=localhost
PG_PORT=4321
PG_NAME=blogging_app
PG_PASSWORD=my_extremely_strong_password
PG_USER=root
PG_SSLMODE=disable
PG_URL=postgresql://$PG_USER:$PG_PASSWORD@$PG_HOST:$PG_PORT/$PG_NAME?sslmode=$PG_SSLMODE

# other
SECRET= paste the output of this command here: `python3 -c "import os; print(os.urandom(32).hex())"`
ACCESS_TOKEN_EXPIRATION_MINUTES=1072
REFRESH_TOKEN_EXPIRATION_DAYS=7
